* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(145, 202, 195);
    text-align: center;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game  {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    font-size: 8vmin;
    cursor: pointer;
}   

#reset {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#new-game {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}